[2020-01-02 17:59] criticaltv opened #5 "MVP Pay-As-You-Go Livestream Video Player dApp"
This issue describes a mechanism which would allow Publishers and Operators of an __Inifinite Digital Stage__ to receive payment from Viewers who are watching content on the stage.

## Test Signal

First, to show you that I'm serious, I invite you to run this command:

[code]

It should play a test signal for a HLS AV livestream (video + audio). This can be used to test and build against.

![image

[2020-01-07 20:08] criticaltv opened #2 "Chromecast Support"
As a user of the app, I would like to be able to stream the content to a Chromecast.

[2020-01-08 14:58] mul1sh opened #3 "Web3 Integration"
Integrate the app with web3 capabilities so that users can be able to do the following,

- Create new wallets
- Import existing wallets into the app
- Safely export and backup wallets
- Pay for the livestreams as described here https://github.com/videoDAC/infinite-digital-stage/issues/3

[2020-01-12 00:15] criticaltv commented on #3
I like it. Which micropayment platform to use?

[2020-01-12 00:16] criticaltv opened #4 "Infinite Digital Stage - MVP tvOS and watchOS Apps"
This issue is to discuss building MVP livestream video player apps for tvOS and watchOS, to be installed on Apple TV and Apple Watch.

This subject has been discussed briefly in [this issue](https://github.com/criticaltv/infinite-permissionless-digital-stage/issues/2).

The functionality should mirror that of the MVP Mobile Player App, analogously to how it is described in [this comment](https://g

[2020-01-12 00:23] criticaltv commented on #3
Here is some wisdom from @ArjunBhuptani from @ConnextProject:

![Screenshot_20200112-011831](https://user-images.githubusercontent.com/59374467/72212288-945ea680-34d9-11ea-85f8-e671c3f5170c.png)

Links are:
https://github.com/ConnextProject/indra/blob/staging/README.md
http://docs.connext.network/en/latest/userDocumentation/quickStart.html

[2020-01-18 23:11] criticaltv opened #6 "Suggested feature: "turn TV off" copies the "Credits Wallet Address" to your clipboard"
When a user closes the app, the app should publish "Credits Wallet Address" to the user's clipboard.

This may be perhaps at this screen, when a user needs to know where to send viewing credits:

![image](https://user-images.githubusercontent.com/59374467/72671745-1a856a80-3a4f-11ea-9109-b584fde03bcd.png)

It may also be when a viewer turns the stream off, and with their address on clipboard, they

[2020-01-19 10:31] criticaltv commented on #6
The user should also be notified that the address is on their clipboard. e.g. display some text like:

"Address copied to clipboard 0xdac817294c0c87ca4fa1895ef4b972eade99f2fd"

[2020-01-19 13:46] mul1sh commented on #6
Fixed

[2020-01-19 13:46] #6 closed

[2020-01-20 07:16] mul1sh commented on #3
1st iteration of this functionality has been implemented.

[2020-01-20 09:00] criticaltv opened #7 "Reseach Topic: Integration of "streaming payments" systems into the pay-as-you-go player app"
The pay-as-you-go player application involves

- digital value / money (e.g. ETH) being streamed from VIEWER to BROADCASTER
- audio-visual content (e.g. livestreaming video) being streamed from BROADCASTER to VIEWER

Initial implementations focussed on simply paying a fixed amount of ETH every e.g. 1 minute, and incurring associated gas fees for every transaction.

While this solution is functiona

[2020-01-20 09:16] criticaltv opened #8 "Research Topic: Pay-as-you-go Peer-to-peer Streaming payments using Stablecoins"
The pay-as-you-go player application involves

- digital value / money (e.g. ETH) being streamed from VIEWER to BROADCASTER
- audio-visual content (e.g. livestreaming video) being streamed from BROADCASTER to VIEWER

Initial implementations only used Ether as the digital value / money, in order to begin prototyping the concept.

While this solution is functional, it risks limiting mass adoption, d

[2020-01-20 14:12] #3 closed

[2020-01-24 01:35] criticaltv opened #10 "When stream ends, it doesn't start playing again when stream starts again"
When the stream finishes, the player stops, and shows:

![Screenshot_20200124-021315](https://user-images.githubusercontent.com/59374467/73037504-9f0d2a00-3e4f-11ea-9089-db1c22c5b91b.png)

It should probably start playing again when the stream finishes.

[2020-01-24 01:38] criticaltv opened #11 "When balance runs out, go back to paywall page."
Currently, when the app wallet runs out of money, it turns everything off. TV off. App gone.

Perhaps it might be better to keep the viewer in the app, so that they can start watching again more easily.

If they're watching live, then they want to get back to the live action as soon as is possible... so show them the information they need to know, in order to solve their problem.

[2020-01-24 01:46] criticaltv commented on #10
Also, if the stream restarts, the play button doesn't do anything.

[2020-01-24 01:50] criticaltv opened #12 "Please remove player controls"
Please can the play button bar be removed altogether?

Let's completely strip it out.

It's not necessary.

It plays live.

No pause, no rewind, no fast forward.

No "skip to next" (there is no next). No "skip to previous" (there is no previous)

Only the present moment. The here and now.

So, the play button bar, as shown in the screenshot below, should be removed completely.

![Screenshot_202001

[2020-01-27 09:53] criticaltv opened #13 "App sends payments to >1 address"
Here is a proposal for allowing an app to be configured to send payments to multiple addresses.

As a publisher of the app, I would like to be able to set an array of addresses to receive payments from the viewer.

For example, we have three addresses:

- 0x123...
- 0xabc...
- 0x987...

I would like to be able to configure the app to, for example, send payments to:

[ 0x123..., 0xabc..., 0x123...,

[2020-01-27 16:22] mul1sh commented on #12
Done :)

[2020-01-27 16:22] #12 closed

[2020-01-27 16:22] mul1sh commented on #11
Done :)

[2020-01-27 16:23] mul1sh commented on #10
Still researching this one

[2020-01-28 09:49] #5 closed

[2020-01-28 15:25] criticaltv commented on #11
I haven't been able to verify this as being closed. Reopening so we can track it...

[2020-02-21 19:58] criticaltv opened #17 "Make ManyCam on Android work with Livepeer"
Right now, when I use [ManyCam on Android from Google Play Store](https://play.google.com/store/apps/details?id=com.visicommedia.manycam) to stream `rtmp` into Livepeer running in `-broadcaster` mode, it fails with the following error:

Issue is resolved and bounty is paid out when [ManyCam's version of software in Android Play Store](https://play.google.com/store/apps/details?id=com.visicommedia.

[2020-02-22 03:17] criticaltv commented on #11
Closed

[2020-02-22 03:17] #11 closed

[2020-02-22 03:21] criticaltv opened #19 "Payment for 1 minute of content only gets 14 seconds of video"
Steps to recreate:

- Start with player app having 0 ETH in the wallet
- Close app down
- Send 0.0009 ETH (i.e. enough to cover payment for only 1 minute + gas)
- Open app - see it load wallet, then load stream
- App plays 15 seconds of content
- Stream closes down and goes to paywall page

Upon checking, the app has sent payment for 1 minute of content.

Here is address used: https://rinkeby.ethe

[2020-02-22 03:22] criticaltv opened #20 "App overpaying - creating multiple payments for the same content."
I expect that the app should pay a maximum of 1 payment every 1 minute.

It should be paying IF and ONLY IF video content is being shown on the screen.

Here is an example of the app making 5 payments within 30 seconds of each other: https://rinkeby.etherscan.io/address/0xe62c3cfc71f17954c6e6bb765eba171f9a55756c

The end-user experience during this can be described as:

- App shows that it is load

[2020-02-22 04:30] criticaltv opened #21 "Integrate Connext 2.0 Payments to Android app"
# Current Situation

Currently, the Android app template (e.g. used in [Görli TV app](https://play.google.com/store/apps/details?id=com.videodac.hls)) makes payment of 0.0005 ETH (~13¢) via the app every 1 minute using native onchain ETH transactions.

Each transaction requires gas to be paid (21,000 units), which at 2 gwei gas is 0.000042 ETH (~1.1¢), or 8.4% fees.

This is relatively expensive,

[2020-02-22 09:47] criticaltv opened #22 "Launch Görli TV on Apple"
# Context

First, we will set some context by describing the current status of Görli TV at time of writing.

## Android First

Görli TV app just launched on Android:

- Here is the link to [download the app on Google Play](https://play.google.com/store/apps/details?id=com.videodac.hls).
- Also, you can [download `debug` and `release` apk files directly here](https://github.com/videoDAC/apps/files/

[2020-02-22 14:26] criticaltv commented on #17
Welcome to @videoDAC, @samrahimi.

This ought to help you get started with setting up Livepeer `-broadcaster` mode:

https://github.com/videodac/infinite-digital-stage/

It's an end-to-end Livepeer stack without any crypto - same video infrastructure, but without the complexity of sharing payments.

It will be the platform providing the endpoint for ManyCam to stream to.

Hope this helps. Also, jo

[2020-02-23 06:41] chrishobcroft commented on #17
@samrahimi - for information, ManyCam on iOS fails to stream to Livepeer with the same error (see below).

So it seems unlikely that it's an Android issue :)

Here's the error logs from `./livepeer -broadcaster`
[code]

[2020-02-23 20:13] criticaltv opened #23 "Revise copy in Görli TV paywall page, and generate new APK"
See below how the paywall page looks:

![Screenshot_20200224-013325](https://user-images.githubusercontent.com/59374467/75119079-c3099880-56a5-11ea-8c74-917b47bf6e9b.png)

Suggest the following changes:

- Align the ETH address centrally under the QR code.

- Change the copy to
[code]
- Also charge 0.0002 göETH per minute.

# Specific deliverables

- a new APK file to release to Görli TV

[2020-02-23 20:18] criticaltv opened #24 "Generate new APK - Berlin Live TV"
This issue is to request that a new APK file is generated from the Android app template in https://github.com/videoDAC/android/

The app should be identical to the Görli TV app (https://play.google.com/store/apps/details?id=com.videodac.hls) except for the following changes:

Name of channel on paywall screen: Berlin Live TV
Pay-to address: 0x369b1Dc5FCEB83AEE02AC1398596CB6D49E65b93
Network: Mainn

[2020-02-23 20:43] criticaltv opened #25 "Documentation: Dummies guide to generating a new APK"
This issue is to write a very simple guide to generating a new APK file from the Android app template in

The guide should include:

- all pre-requisites (e.g. git)
- install of Android studio
- configuration of Android studio
- importing the code into Android studio
- setting the key variables:
  - App name (e.g. `Görli TV`)
  - Pay-to address
  - Network, from `rinkeby`, `gorli`, `ropsten`, `kov

[2020-02-24 04:07] criticaltv opened #26 "Integrate Matic payments to Video DAC's pay-as-you-go livestream viewer Android App Template"
# Context

- Görli TV app launched for Android - pay-as-you-go livestreaming app:
   - Viewer pays to watch
   - Payments direct to Publisher
   - 0.0005 Görli ETH per 1 minute
   - Native ETH TXN, 21000 gas.

- App was launched using template app developed by Video DAC, which can be easily rebranded to anything, e.g. Ropsten TV

# Objectives of this project:

- Objective 1: incorporate Matic Plas

[2020-02-26 19:29] Artistic18 commented on #23
It would be nice if you could accept my proposal.

[2020-02-26 19:48] criticaltv commented on #23
@Artistic18 2 weeks is too long. Sorry baba.

[2020-02-26 19:49] criticaltv commented on #23
@mattwithcurls this page is dynamic, it's not an image.

[2020-02-26 20:02] criticaltv opened #27 "As a Consumer of livestreaming content, I want to be able to choose which channel is played."
# Brief

This issue contains a brief for an improvement to videoDAC's Pay-to-play Livestream Consumer application template.

The improvement is to add the ability for a consumer to choose which livestream channel to watch (and pay to).

## Summary

Currently, the app is a single-channel app, allowing a Consumer to watch content from 1 hardcoded channel, and pay to 1 hardcoded address.

This brief

[2020-02-27 10:42] criticaltv opened #28 "Fix text scaling on Paywall Page for devices with different screen sizes."
# Describe the problem

Currently, the paywall page for the Gorli TV app is unable to gracefully scale the font in order to fit conveniently on any size of screen.

# Describe your proposed solution

My proposed solution would be to rebuild the software layout for the paywall page to be responsive to the screen's precise dimensions, based on this design:

![Screenshot from 2020-02-27 16-09-20](htt

[2020-02-27 21:12] criticaltv commented on #25
@adamallidina assume that the person has nothing from:

- Android Studio
- Google Play Developer account

Don't reinvent the wheel, but do keep it concise and in one place, perhaps linking to some stuff which might change regularly.

How much should I put for the bounty?

[2020-02-27 22:17] iot-resister commented on #23
Which device are you using ? I'm using a Pixel 2 and the layout is different.

![](https://i.gyazo.com/12b72626a63db0bbd6a96bd4189859c8.png)

[2020-02-28 05:28] criticaltv commented on #28
![Another example](https://camo.githubusercontent.com/fb029829e54dcf8ea029cb40621180efc6eb7155/68747470733a2f2f692e6779617a6f2e636f6d2f31326237323632366136336462306262643661393662643431383938353963382e706e67)

[2020-02-28 12:49] mul1sh commented on #28
New screenshots
![640x360](https://user-images.githubusercontent.com/2150634/75549943-db7d0880-5a41-11ea-808d-0a1ad75aefa8.png)
![1280x720](https://user-images.githubusercontent.com/2150634/75549947-dddf6280-5a41-11ea-8911-d2ade4b6934a.png)
![2160x1080](https://user-images.githubusercontent.com/2150634/75549951-df108f80-5a41-11ea-9845-999a76d82d40.png)
![3840x2160 : 4k](https://user-images.githubu

[2020-02-28 13:47] criticaltv commented on #28
Further to some confusion during this bounty being worked on, here are some calculations which will assist in developing this as per the specification:

Let's say the screen size is X by Y.

And let's say that Y < X (although the opposite would still work)

Section 1 (left):
Size: `X-0.8*Y` by `Y`
Top-left corner is at coordinates (`0`, `0`)

Section 2 (top right) is:
Size: `0.8*Y` by `0.8*Y`
Top-

[2020-03-02 03:42] adrianhacker-pdx commented on #25
@criticaltv I have completed this bounty.  Please see pull request.

Hello, I'm Adrian. I have completed this bounty for you:

https://gitcoin.co/issue/videoDAC/android/25/4044

This is my Gitcoin profile:
https://gitcoin.co/adrianhacker-pdx

This pull request alters the front README.md page to include links to every section of the process of generating an apk. Each page links back to the README.m

[2020-03-03 07:37] rahulsnkr commented on #23
@criticaltv can you accept my proposal?

[2020-03-03 13:11] criticaltv commented on #23
@rahulsnkr someone else already did this issue

[2020-03-03 13:11] #23 closed

[2020-03-03 13:17] criticaltv commented on #25
Thank you @adrianhacker-pdx - it looks great on the surface. Let me review thoroughly.

[2020-03-04 19:12] adrianhacker-pdx commented on #25
@criticaltv No problem. I'll keep an eye out for any corrections or changes that you would like done.

[2020-03-07 09:38] criticaltv commented on #26
Work should also update the README for this repo, explaining how to use this app template to generate an apk for your own channel.

https://github.com/videoDAC/android/blob/master/README.md

[2020-03-07 10:51] criticaltv opened #31 ""Livestream-to-earn" Template Publisher App"
## Introduction

This issue is to define the minimum viable product for a MVP "Livestream-to-earn" Template Publisher App.

**MVP** stands for "minimum viable product", and represents the minimal feature set to achieve the objective.

A **Template App** is a body of code which can be used to publish an app, configured for a specific situation. This allows a base level of functionality to be replic

[2020-03-07 11:01] criticaltv opened #32 "Upgrade gradle to latest version"
Currently, when importing the codebase into Android Studio, the build fails.

Android Studio seems to only fetch the latest version of gradle 29.0.3.

The app appears to use 29.0.2

If this is the case, this issue is simply to upgrade the version of gradle to the latest version, so that the process to import into Android Studio is more easy :)

[2020-03-07 11:50] criticaltv opened #34 "Consolidate all template parameters into a single file"
Currently, when configuring the parameters for generating an APK from the template code, the user is required to make changes in 2 files: `Utils.kt` and `strings.xml`.

It would be easier for the person wanting to generate an APK from this template, if they were only required to change parameters in a single place.

So, perhaps combine to make "config.xml" containing 2 sections a) strings (for pre

[2020-03-07 17:18] criticaltv opened #35 "Pay-as-you-go Viewer template app can only be published under com.videodac.hls"
Currently, the process for using the Pay-as-you-go Viewer template app to launch another channel app fails with the following error:

![Screenshot from 2020-03-07 20-21-27](https://user-images.githubusercontent.com/59374467/76145851-b9276280-60b3-11ea-9802-dda1eef156a5.png)

This is because only one application is able to be published with the `com.videodac.hls` `applicationId`.

So, we need to wo

[2020-03-07 17:19] #28 closed

[2020-03-07 17:24] criticaltv commented on #35
For current instructions for how to build and release an app from the template:

https://github.com/adrianhacker-pdx/android

[2020-03-10 11:41] criticaltv commented on #35
Fixed in this commit:

https://github.com/videoDAC/android/commit/49c15e79dfba430022a71daa050090b0622a2139#diff-8235608932e083c1efdc6866419d6e6b

[2020-03-10 11:41] #35 closed

[2020-03-11 08:08] criticaltv opened #36 "I want to publish a free-to-view channel app from a template"
As the need to communicate in real time becomes increasingly important, I want to be able to launch a channel app which *does not* charge people to watch.

Simple free-to-play single-channel app:

- User launches app ("turn TV on")
- App loads audio / video content stream
- User taps screen ("turn TV off")
- App closes.

Given that the functionality exists to launch pay-to-play from template, we s

[2020-03-11 19:07] Abhimanyu121 commented on #21
I am kind of unsure how connext will work, as they have only js SDK and  I couldn't find RPC endpoint for their testnet either.

[2020-03-14 08:46] adrianhacker-pdx commented on #25
@criticaltv thank you for the opportunity to help with your project.  Just curious about closing the issue/bounty and google developer acct reimbursement.  A link to my Gitcoin profile is above.  Let me know if there is anything else with this issue that's needed.

[2020-03-14 16:14] criticaltv commented on #25
I think you need to do something to submit the work for the bounty or something - it won't let me pay out.
Also, please send address for Google Play Developer Account, along with Receipt from Google

[2020-03-14 16:51] adrianhacker-pdx commented on #25
![Screenshot_20200314-093957_Gmail](https://user-images.githubusercontent.com/51737262/76686526-2e75c480-65d9-11ea-938b-0a5531622f16.jpg)
![Screenshot_20200314-094029_Gmail](https://user-images.githubusercontent.com/51737262/76686529-36356900-65d9-11ea-8044-8e50cc2de189.jpg)
@criticaltv here's the receipt for google and I'm submitting work right now

[2020-03-15 16:11] criticaltv commented on #25
Hi @adrianhacker-pdx - thanks for the submission.

Per the issue, can you send the apk file ready for submission to Google Play Store

[2020-03-15 16:11] criticaltv commented on #24
Closing for now

[2020-03-15 16:11] #24 closed

[2020-03-15 18:12] criticaltv commented on #21
@Abhimanyu121 take a look at the J2V8 lib https://github.com/eclipsesource/J2V8 to integrate the connext npm package with Kotlin's Java bindings.

It runs the V8 javascript engine so it could be very performant.

[2020-03-15 20:46] adrianhacker-pdx opened #39 "200 LPT? :)"
I can be sketchy sometimes, not going to lie, but to have paid myself through the app was too many thinking steps.  :)  Smash and grab.  200 seem alright?  To include the Google play.

0xcF24939b6C28196b1DA830b07D138ea8E2AA8ab5

[2020-03-20 07:49] criticaltv opened #40 "Remove "loading screens" from the app"
## Problem

The loading screens in the app are unnecessary, and give the user a feeling that the app is slow and laggy.

The app also fails to take the opportunity to provide the user with useful information about the app.

This issue proposes to remove both the "loading" screens from the app, i.e.

![Screenshot_20200320-123423](https://user-images.githubusercontent.com/59374467/77142818-46e95180-

[2020-03-25 11:17] criticaltv opened #41 "Player app: Long press = start recording"
# Summary requirement

As a user, who is watching content using an app launched from videoDAC's Android app template, I want to be able to record content, so I can watch later, post to YouTube, share with my friends.

## Proposed UX:

1. User launches app
2. App starts playing content (assuming they are allowed / paying)
3. User long-presses on the screen
4. App shows a symbol on the screen, showi

[2020-03-25 12:11] raphalice commented on #41
Simple but powerful idea!

[2020-03-27 07:38] chrishobcroft commented on #27
An interim step on this path would be to allow the app to configure 2 or more hardcoded channels, perhaps with channel cover images...

![image](https://user-images.githubusercontent.com/2212651/77732876-d48aeb00-702b-11ea-9324-d79a55345712.png)

This would allow musicians who are perhaps part of a collective to work together to launch and publicise apps, where viewers can choose who to watch.

It

[2020-03-27 07:58] chrishobcroft opened #42 "Revise styling for paywall page for template app"
# Problem Statement

Currently, the default styling for the paywall page as part of the app looks like this:

![Screenshot_20200307-210621](https://user-images.githubusercontent.com/2212651/77734259-5bd95e00-702e-11ea-9107-91ac0b1d3f55.png)

This user interface has been described by one contributor as "terrible", "nerdy" and "will alienate most artists".

# Proposed Solution

Someone with some gra

[2020-04-01 09:21] criticaltv commented on #21
Hi @mul1sh thank you for your application. We will accept your application.

Please take care to fulfil the Specific Requirements for this, namely:

### Specific deliverables

- Pull request to github.com/videoDAC/apps with new code base using Connext 2.0
- APK files for `debug` for testing and `release` to release as "Rinkeby TV", with associated git commit hashes
- Update to documentation about

[2020-04-04 17:40] mul1sh commented on #21
@gitcoinbot I've been actively working on this, will submit a PR soon! 😃

[2020-04-09 09:32] criticaltv commented on #36
Hi Ben, @Rahmanunjan, thanks for working on this.

How are you doing with the comparison?

For me, there's a choice between:

A. Take the bare-bones free-to-play iOS app > Make it work as a template > Publish documentation for how to launch your own app from template.

B. Take the Android app template > Allow it to be configured to not require payment, just play > Update [the documentation for lau

[2020-04-09 10:15] criticaltv opened #44 "Allow viewers to choose how much they pay-to-play, with a minimum value"
Currently, users of the apps published using the pay-to-play android template must pay a fixed amount per unit-of-time (e.g. per minute).

This issue proposes to provide a way for users to choose how much they pay per unit-of-time, with a fixed lower limit - i.e. they cannot watch for free, but they can:

- **increase** how much they pay to be above some "suggested" amount

- **decrease** how much

[2020-04-10 16:19] mul1sh commented on #21
@gitcoinbot already submitted a WIP PR, will wrap it up shortly 🙂

[2020-04-13 15:12] mul1sh commented on #21
@gitcoinbot almost done :)

[2020-04-17 18:25] criticaltv commented on #31
Hi @psudoanon thanks for applying.

Let me know if you have questions about setting up the Streaming Back-End to test against.

[2020-04-19 15:56] mul1sh commented on #21
Still testing access to the rinkeby hub in kotlin :)

[2020-04-21 01:35] psudoanon commented on #31
So far I've gotten the basic application architecture setup, finished reviewing the linked Kotlin RTMP library and implemented permissions handling; I'll be making a small update to the RTMP module in order to make the keyframe interval configerable before proceeding to the wallet generation and testing with a local backend

[2020-04-21 10:47] criticaltv commented on #31
OK cool.

Do you have any blockers that I may be able to help with?

[2020-04-22 15:38] mul1sh commented on #21
Ok the rinkeby hub is working, time to connect it to the app now :)

[2020-04-22 17:24] psudoanon commented on #31
@criticaltv

I'm running into an issue with the streaming backend.

Followed the setup instructions for the precompiled binary and it works fine when using FFMPEG to send a test broadcast signal to the RTMP endpoint.

Once I try sending a video signal from the Android app and linked RTMP library I get the following `SegmenterTimeout` error:

<img width="1440" alt="Screen Shot 2020-04-22 at 1 14 23

[2020-04-22 18:17] criticaltv commented on #31
We sometimes get this when it doesn't send a keyframe...

[2020-04-22 18:32] psudoanon commented on #31
Thanks, yeah looks like that was it :)

On Wed., Apr. 22, 2020, 2:17 p.m. criticaltv, <notifications@github.com>
wrote:

[2020-04-23 05:17] criticaltv commented on #31
OK @psudoanon - that's reassuring to know that you've resolved that one.

Keyframe interval is a regular "thorn in my side", which is why it was specifically called out in the spec.

You may also wish to have a look at these simpler instructions for a streaming system - they use the same base software as Streaming Back-End, but much much simpler: https://github.com/videoDAC/simple-streaming-server

[2020-04-24 08:13] criticaltv commented on #21
Good work @mul1sh !

Ping me here if you hit any blockers!

[2020-04-25 16:16] mul1sh commented on #21
@criticaltv  thanks will do 😃

[2020-04-27 22:57] psudoanon commented on #31
Hey, sorry for the delay.

Ended up having to go through a couple different RTMP libraries before
finding one that worked reliably; just finishing up the wallet generation
side of things and then I'll have a PR and the associated resources all
generated and uploaded :)

On Mon., Apr. 27, 2020, 12:15 p.m. Gitcoin.co Bot, <notifications@github.com>
wrote:

[2020-04-28 04:47] criticaltv commented on #31
@psudoanon thank you for your continued efforts on this - much appreciated.

Looking forward to seeing what you have made :)

[2020-04-28 15:15] mul1sh commented on #21
An update, still working on connecting the app to the rinkeby hub.

[2020-05-01 16:10] mul1sh commented on #21
Almost done with the rinkeby hub connection from the app, building out a new apk to test this shortly

[2020-05-04 05:55] criticaltv commented on #31
Hello @psudoanon sorry about the gitcoin bot.

Is there anything I can do to help with the template app build?

[2020-05-04 15:21] psudoanon commented on #31
No worries, I'll have a PR up soon and then you can verify it builds
locally on your end :)

On Mon., May 4, 2020, 1:56 a.m. criticaltv, <notifications@github.com>
wrote:

[2020-05-08 16:11] psudoanon commented on #31
Hey @criticaltv

I've filed a PR here: https://github.com/videoDAC/android/pull/45

Do you mind taking a look and making sure you can import into Android Studio as expected?

As far as the APK deliverables go, where would you like the RTMP base URL set to? The application is also using the Infura API. I was using a personal API key I generated while developing - did you want to setup your own?

[2020-05-09 10:35] criticaltv commented on #31
@psudoanon thanks I'm trying my luck with it now.

Is there an email address I can get you on to share the RTMP endpoint, it's a little sensitive :)

[2020-05-09 20:58] psudoanon commented on #31
Yeah, you can send it to adam.allidina@gmail.com :)

On Sat., May 9, 2020, 6:35 a.m. criticaltv, <notifications@github.com>
wrote:

[2020-05-10 09:35] criticaltv commented on #31
Hey, so, I've managed to generate an apk from the code, using Android Studio - which is cool.

Some initial feedback:

- I've managed to get the app connecting to a local instance of `simple-streaming-server` - which is great!

- The screen goes dark, per the system's screen time-out setting (in my case 15 seconds!) - and when this happens, the streaming stops also. The app should take over the en

[2020-05-10 10:24] criticaltv commented on #31
Some other thoughts - for future scope, future issues, future bounties - just spitballing:

- Perhaps display the user's Ethereum address with the balance, so that they can see who they are

- If the app can't connect to the rtmp endpoint, perhaps show a subtle android notification error message like "Check your internet connection"

- Perhaps replace the "Broadcasting to rtmp://..." subtle notifi

[2020-05-10 11:10] criticaltv commented on #31
Also... when you switch the orientation of the device, this appears to kill the stream... steps to reproduce:

1. Hold device in landscape
2. Press Start Stream (which turns into "Stop Stream") - content starts being received
3. Turn the device 90 degree to portrait
4. Button returns to showing "Start Stream"
5. Stream ends and rtmp endpoint reports SegmenterTimeout and ends stream
6. Press "Start

[2020-05-10 11:43] mul1sh commented on #21
Still trying to figure out how to keep both channels online whilst keeping everything decentralized

[2020-05-12 21:08] psudoanon opened #46 ""Livestream-to-earn" Template App "Live" Indicator"
Implement a "Live" status indicator that switches from grey (when not connected via RTMP) to red (when connected)

[2020-05-12 21:12] psudoanon commented on #31
Hey, I've finished addressing the issues you've mentioned and will have a new repo up soon with the updates

I've also added a new issue for the "Live" indicator https://github.com/videoDAC/android/issues/46, feel free to add the image resource to that ticket if you have one

Regarding the other functionality you mentioned, I'd be happy to work with you to get those featured implemented as well :)

[2020-05-13 09:50] mul1sh commented on #21
Ok will pause working on this for now, so that I research on better ways of doing the connext integration without the server side dependencies.

[2020-05-13 11:10] criticaltv commented on #21
@mul1sh this makes sense. Thank you for the update.

Maybe there could be a very elegant solution in conjunction with the "work in progress" being done by @psudoanon on the [MVP "Livestream-to-earn" Publisher Template App](https://github.com/videoDAC/android/issues/31)?

In that case, the Publisher device will be guaranteed to be "online" to "receive payment" because it's publishing the livestream

[2020-05-13 13:38] chrishobcroft opened #47 "Show microphone levels in Publisher app"
Show a mono / stereo indicator bar with microphone levels.

@psudoanon

[2020-05-13 14:02] chrishobcroft commented on #46
Here is a proposed design for the UX flow:

# State 1 - immediately after app launches

Show camera view _only_ with flash and microphone on etc. (no network required)

![Screenshot from 2020-05-13 19-10-22](https://user-images.githubusercontent.com/2212651/81819927-913dfa80-954d-11ea-934d-a29e5a33a42b.png)

_This way if their device isn't powerful enough to generate an Ethereum address, then they

[2020-05-13 14:04] chrishobcroft commented on #46
Also, need to manage state in the case that:

- Cannot retrieve balance / ENS name from Ethereum / Connext

- Disconnected by rtmp endpoint

[2020-05-14 09:56] mul1sh commented on #21
@criticaltv yes correct so long as the pulisher can create a connext channel and we also have a way of querying the channels public id, then its very much possible to do the micro-payments.

[2020-05-14 15:36] criticaltv commented on #21
OK, so, let let @psudoanon finish up https://github.com/videoDAC/android/issues/31 and then look at a new piece of work to connect the Publisher App with the Consumer App.

[2020-05-14 18:32] criticaltv opened #48 "Show balance info in Pay-to-play Consumer app"
During playback, show a user their balance on the screen.

[2020-05-15 08:59] criticaltv commented on #31
@psudoanon thank you for the update - great news that you're done with the issues.

Perhaps let's leave it in the `android` repo after all, as there may be some benefit in terms of coordination / re-use of work done by @mul1sh on Connext 2.0 integration.

I see your issue has had some contributions from the videoDAC community already!

[2020-05-20 08:07] chrishobcroft opened #49 "Add a "lock" button to the consumer app template"
## Situation

Currently, the UI for the pay-to-play livestream consumer app works such that the only user interactions in the app are:

- User launches app
- User taps livestream screen, which closes app and copies wallet address to clipboard

## Complication

Basic user testing highlighted that on occasion, the user tapped the livestream screen by mistake, which closed the app. On some occasions,

[2020-05-20 15:41] psudoanon commented on #31
@criticaltv I've updated the PR with your requested changes, would you mind taking a look? Once we get everything finalized on this bounty I can get started with the "Live" indicator :)

[2020-05-22 23:38] psudoanon commented on #31
@criticaltv have you had a chance to take a look at this? was wondering what your thinking regarding @mul1sh comment regarding switching the PR repository. thanks :)

[2020-05-24 09:15] chrishobcroft commented on #31
Hi @psudoanon I am looking at this.

I'm trying to load it up in a clean install of Android Studio on a clean install of Ubuntu.

I'm hitting these errors when importing the project:

![image](https://user-images.githubusercontent.com/2212651/82750342-2b633580-9dcd-11ea-96cc-659982794fb2.png)

![image](https://user-images.githubusercontent.com/2212651/82750347-31591680-9dcd-11ea-968c-3e71b0b39389.

[2020-05-24 12:59] criticaltv commented on #31
@chrishobcroft you need to enable some SDK stuff - see stpe 5 of this: https://github.com/videoDAC/pay-to-play/blob/master/APK/Import/index.md

@psudoanon I've managed to get a build running on a phone.

Some feedback:

1. The app won't open if the phone is held in portrait mode. It just crashes.

It succeeds at launching if the phone is held in landscape mode.

I would expect to be able to launch

[2020-05-24 13:38] criticaltv opened #50 "What do we do about the Private Key on the Clipboard?"
Currently, the Livestream-to-Earn template app will "copy-to-clipboard" the Private Key of the Ethereum address of the Publisher's livestream app.

It reports this in the Android Notification UI, as shown:

![image](https://user-images.githubusercontent.com/59374467/82754657-016d3b80-9dec-11ea-8997-7d29006718c6.png)

This issue is to track idea for how this could be extended, improved, secured.

S

[2020-05-29 15:28] psudoanon commented on #31
@criticaltv Thanks for the detailed bug report, hope to have an update ready for you this weekend. #50 looks good as well!

[2020-06-03 15:12] psudoanon commented on #31
@criticaltv I was looking into the crash when launching the application in portrait mode, can you confirm that it only crashes when the Android system portrait lock is enabled? I think there are two ways we can go about fixing it:

1) If portrait lock is enabled, have a dialog pop up prompting the user to disable the portrait lock before continuing application setup
2) Allow for broadcasting in po

[2020-06-04 06:49] criticaltv commented on #31
Hey, first off, I can no longer get anything working on my phone. The `.apk` file I generated before will install successfully, but crashes when I launch it. Any chance you could roll me an `.apk` and I can do some interim testing for you?

As for the preference... I'm not sure what to say... except to suggest that you try out [Alice's Pay-to-play Streaming](https://play.google.com/store/apps/deta

[2020-06-04 07:36] criticaltv commented on #31
OK, I've worked out why the app wasn't launching... it was crashing because the `rtmp` endpoint wasn't available, and the app was not handling this error gracefuly.

So, now I've got it working on my device, I can confirm that it crashes when I'm holding the device in portrait mode, _whether "Auto-rotate" is on or off_.

[2020-06-04 14:27] chrishobcroft commented on #31
![Screenshot_20200604-173723](https://user-images.githubusercontent.com/2212651/83769458-81718c00-a69d-11ea-8cef-b0ce83f11e58.png)

[2020-06-07 15:15] chrishobcroft commented on #27
For reference and guidance, this is how the dimensions were calculated for the channel list

X is the width of the screen (in this case 1920)
Y is the height of the screen (in this case 1080)

![rect845-8-5-5-8-0-94](https://user-images.githubusercontent.com/2212651/83972779-bed55400-a8ff-11ea-9945-82b0ebd04617.png)

[2020-06-12 13:57] mul1sh commented on #27
@chrishobcroft awesome onnit 😃

[2020-06-18 15:53] mul1sh commented on #27
An update i'm still working on the KEthereum integration, more specifically i'm replacing web3j in the burner wallet generation. Will have it working and testable in a bit :)

[2020-06-21 16:00] mul1sh commented on #27
I have the burner wallet working but need to test it a bit more. Will have a testable working apk in a bit :)

[2020-06-24 09:28] chrishobcroft commented on #27
@mul1sh coooooool

[2020-06-24 09:31] chrishobcroft commented on #31
Hello @psudoanon - how are you?

Are you able to share any progress on the development of this feature?

Are you still intending to proceed with delivering this bounty?

Thanks

[2020-06-24 13:35] mul1sh commented on #27
@chrishobcroft😎

[2020-06-24 15:52] psudoanon commented on #31
Yeah sorry about the delay, had a busy few weeks where I've been focusing
on other stuff; I'll try to have a fix before the weekend, just been having
difficulties reproducing the reported crash on my device.

@criticaltv would you mind letting me know the make / model of the Android
device you're using along with the Android version?

Thanks!

On Wed., Jun. 24, 2020, 5:32 a.m. Chris Hobcroft, <not

[2020-06-28 13:24] mul1sh commented on #27
@gitcoinbot still on it fixing a bug which makes gas oracles not work well with the new burner wallets.

[2020-07-01 11:49] mul1sh commented on #27
@gitcoinbot Still debugging the burner wallet functionality

[2020-07-04 16:00] mul1sh commented on #27
Almost done debugging..

[2020-07-07 15:51] mul1sh commented on #27
Will be pushing in a bit, testing the channels functionality one last time 🙂

[2020-07-10 15:47] mul1sh commented on #27
Almost done testing...

[2020-07-13 13:03] criticaltv commented on #31
@psudoanon
![Screenshot_20200713-183216~2](https://user-images.githubusercontent.com/59374467/87307505-5f3e1a00-c537-11ea-8e13-d256af396707.png)

[2020-07-13 13:06] criticaltv commented on #31
Also, still able to replicate that same behaviour...

![Screenshot_20200713-183533](https://user-images.githubusercontent.com/59374467/87307730-b9d77600-c537-11ea-8b4b-8aa5a0a6cafe.png)

[2020-07-13 14:35] mul1sh commented on #27
Done testing will be submitting in a bit

[2020-07-16 10:32] mul1sh commented on #27
Submitting in the next 6 hours :)

[2020-07-20 07:24] mul1sh commented on #27
@gitcoinbot yeah I'll be pushing it later today :)

[2020-07-25 13:09] chrishobcroft commented on #31
Hey @psudoanon where are you at with this?

@mul1sh is nearly done on multi-channel support.

If we could deliver this feature and close this issue, we could enable multi-Publisher from mobile, to be connected with multi-Consumer, with pay-per-minute.

I also have a public school in India who would be a great use-case for what we're building. Proposing to use Goerli to measure which teachers the s

[2020-07-25 13:31] chrishobcroft commented on #31
There's also a lot of work in the pipeline to evolve this concept, including:

- integrating Consumer app with Publisher app to create integrated end-user experience. UX/UI Design is almost complete.

- integrating with Canon's SDK for connecting DSLR cameras, for beautiful visual quality

- integrating with the device's microphone input, to allow stereo line-in, e.g. from a professional sound-mix

[2020-07-25 16:02] mul1sh commented on #27
@gitcoinbot pushing in a few hours

[2020-07-28 12:35] mul1sh commented on #27
Almost done testing, will push in the next few hours.

[2020-07-31 15:58] mul1sh commented on #27
Fiinally done testing, building out an apk to test with now :)

[2020-08-03 15:45] mul1sh commented on #27
@gitcoinbot pushing in a bit

[2020-08-05 11:10] criticaltv commented on #27
Hey @mul1sh is there anything we can do to help with this? Any `apk` files we can test with?

[2020-08-05 11:13] criticaltv commented on #31
Yo @psudoanon - I echo @chrishobcroft's words here.

Keen to know when we can ship this. I feel we're so close to having something which would be very interesting to release and try out with real end users.

Let us know if we can help with anything?

[2020-08-05 11:16] mul1sh commented on #27
@criticaltv sending an apk in a bit, testing the whole functionality again to make sure no more bugs

[2020-08-09 09:11] #27 closed

[2020-08-09 09:22] criticaltv commented on #31
@psudoanon - we haven't heard from you for over 6 weeks now.

Please can you update on whether you intend to complete this work?

If I don't hear from you in 48 hours, I will open this bounty to other contributors.

[2020-08-09 16:54] psudoanon commented on #31
Hey, sorry about my delays. I got caught up in some personal business
earlier this summer and didn't have much time to dedicate to this. All good
now and I'll try and have the updates ready for you within the week.

On Sun., Aug. 9, 2020, 5:22 a.m. criticaltv, <notifications@github.com>
wrote:

[2020-08-11 17:27] chrishobcroft opened #55 "If `streamingFeeInEth` = `0.0`, app crashes when pay-to-play starts"
## Summary

When configuring the app template with a `streamingFeeInEth` as `0.0` (i.e. "free-to-play"), the app successfully bypasses "The Paywall Page", to present a list of channels. However, when a channel is selected, and playback starts, the app crashes.

## Steps to Reproduce

1. Generate an `apk` file from the `consumer` app template, with `streamingFeeInEth` = `0.0`
![image](https://user-

[2020-08-11 17:40] chrishobcroft opened #56 "Consumer app crashes if there is no network"
## Summary

Consumer app crashes if there is no network. It shows "The Paywall Page" for a brief moment, but then disappears.

## Steps to reproduce

1. Switch device to airplane mode
2. Launch app
3. Observe paywall page appear, with QR code, user's address, and on-device information about the app
4. Observe the app crash.

## Expected behaviour

At step 3, I expect the paywall page to still appe

[2020-08-14 18:14] chrishobcroft commented on #48
Verified in the code submitted in the PR, closing.

[2020-08-14 18:14] #48 closed

[2020-08-14 18:14] chrishobcroft commented on #55
Verified in the code submitted in the PR, closing.

[2020-08-14 18:14] #55 closed

[2020-08-14 18:15] chrishobcroft commented on #56
Verified in the code submitted in the PR, closing.

[2020-08-28 08:59] Matlemad opened #61 "Browsing issues"
First of all, congrats on this amazing job!!

- As a **user** watching a publisher livestream, I want to be able to **browse** back to the list of publishers without the app closing, so I can switch publisher and check out other content.
This can be achieved with a **navigation button**, or as @chrishobcroft suggested, simply by **tapping** the screen.

- As a **user** watching a livestream, I wan

[2020-08-29 15:53] mul1sh commented on #31
Still working on the layout expect an update tomorrow 🙂

[2020-09-01 16:11] mul1sh commented on #31
Still working on the layout, almost there

[2020-09-04 16:03] mul1sh commented on #31
Almost there...

[2020-09-07 14:23] mul1sh commented on #31
Wrapping everything up nicely 🙂

[2020-09-11 16:27] mul1sh commented on #31
@gitcoinbot fixing a permission issue and then I'll be done :)

[2020-09-14 16:02] mul1sh commented on #31
@gitcoinbot almost there 🙂

[2020-09-17 15:30] mul1sh commented on #31
Finalizing testing now..

[2020-09-20 14:19] mul1sh commented on #31
Submitting in a few 🙂

[2020-09-23 15:55] mul1sh commented on #31
Will push tomorrow dealing with one last tough bug.

[2020-09-26 15:21] mul1sh commented on #31
Just finished fixing the bug today. So testing now and then I submit later tomorrow

[2020-09-29 09:44] mul1sh commented on #31
@gitcoinbot still testing but almost done :)

[2020-10-02 15:57] mul1sh commented on #31
Will finally have it ready tomorrow 🙂

[2020-10-05 15:44] mul1sh commented on #31
Sorry had a lot of bugs to work through, but will finally and definitely have it done tomorrow :)

[2020-10-08 15:46] mul1sh commented on #31
I'm making the settings easily configurable in the app and also document this and then i'll be done :)

[2020-10-11 16:05] mul1sh commented on #31
Still working on the settings...

[2020-10-14 13:50] mul1sh commented on #31
Settings done, testing 1 final time and then I submit by Friday.

[2020-10-16 07:28] chrishobcroft opened #62 "Consumer App crashes when configured with Matic Network RPC Endpoint"
## Summary

I attempted to use the videoDAC android template Consumer app, configured to connect to an RPC endpoint on Matic, for paying for livestreaming, in MATIC.

The app compiles, installs and launches successfully, but crashes / disappears after 3-4 seconds.

Given that other client applications, such as MetaMask Extension, MetaMask App and WallETH can connect to MATIC by simply changing the

[2020-10-18 15:29] mul1sh commented on #31
Still debugging and fixing 2 last tough bugs

[2020-10-21 16:06] mul1sh commented on #31
Almost done...

[2020-10-24 16:03] mul1sh commented on #31
I'm done will definitely submit in the next few days..

[2020-10-27 15:53] mul1sh commented on #31
Still testing..

[2020-10-30 14:31] mul1sh commented on #31
Also done testing @gitcoinbot @criticaltv 🙂

[2020-11-02 11:31] mul1sh commented on #31
Still testing the apk...

[2020-11-06 15:40] mul1sh commented on #31
Almost done testing, will have the apk ready over the weekend :)

[2020-11-09 16:00] mul1sh commented on #31
Hmm still testing @gitcoinbot

[2020-11-12 14:06] mul1sh commented on #31
Finally I think i've sorted the tough layout bugs

[2020-11-15 16:03] mul1sh commented on #31
Will have it ready latest tomorrow by this time :)

[2020-11-18 14:45] mul1sh commented on #31
@gitcoinbot there is a small bug i'm sorting in order to make the UI pixel perfect, will have it ready tomorrow though 🙂

[2020-11-21 16:32] mul1sh commented on #31
All bugs fixed, just testing now  and then I submit in a few hours :)

[2020-11-24 16:19] mul1sh commented on #31
Almost done testing, will finally have it ready tomorrow :)

[2021-01-22 06:57] mul1sh commented on #31
Doing my final test now 😃

[2021-02-20 13:40] chrishobcroft opened #67 "Livestream Consumer App: add OrchidVPN"
## Current User Journey

At time of writing, the videoDAC Consumer App [1] enables a user to:

**1. Top-up the App's Ethereum address with cryptocurrency**

![image](https://user-images.githubusercontent.com/2212651/108596305-222de600-73aa-11eb-9011-45d83edef689.png)

- when the app's address has sufficient balance to pay for 1 minute of livestream, the content paywall page is removed.

**2. Selec

[2021-02-20 19:17] chrishobcroft opened #68 "Architecture for a Livestreaming Nano-royalties Server"
## Introduction

This issue proposes a high level architecture for simply combining Ethereum-blockchain-based server-side software from [Livepeer](https://github.com/livepeer/) and [Orchid Technology](https://github.com/OrchidTechnologies/) to create a Livestreaming Nano-royalties Server, to be run as part of web3.

**The specific objective** is to connect Livepeer, Orchid and Ethereum, to create

[2021-02-27 09:47] chrishobcroft commented on #62
Fixed in https://github.com/videoDAC/android/pull/69 - hooray!

[2021-02-27 09:47] #62 closed

[2021-02-27 11:05] chrishobcroft opened #70 "Consumer - Livestream View Research"
## Current Situation

### User Experience

Currently, the user-experience in the Consumer app, when viewing a livestream, looks like this:

![image](https://user-images.githubusercontent.com/2212651/109383930-bac6e780-790f-11eb-8b0a-68ec898750f7.png)

or like this:

![image](https://user-images.githubusercontent.com/2212651/109383935-bf8b9b80-790f-11eb-92ee-b132fb26f2c3.png)

### Functionality

1.

[2021-02-27 11:10] chrishobcroft commented on #61
Thank you for this, @Matlemad

Your first point I think is now fixed in the latest release of the Consumer app, per this PR: https://github.com/videoDAC/android/pull/69

For the second point, I have included this in a broader discussion about UI changes, per this issue: https://github.com/videoDAC/android/issues/70

Please let me know if you are OK with this being discussed over there, and if so,

[2021-02-27 12:09] chrishobcroft opened #71 "Verify Consumer App running on xDAI"
## Summary

The current implementation of the Livestream **Consumer** Pay-to-play App Template has been tested and verified as working against:

- Ethereum (Layer 1)
- Matic (Layer 2)

This issue is to verify this app as working against xDAI chain.

To close this issue, the following must happen:

- Publication of a `.apk` file contaning the application running successfully against an xDAI endpoin

[2021-02-27 12:22] chrishobcroft opened #72 "Consumer App: Paywall view does not update app's balance"
This issue describes a proposed enhancement to the Consumer Pay-to-play Livestreaming App Template.

## Current Situation

When first launching the Consumer app, a user is shown the "Paywall" view:

![image](https://user-images.githubusercontent.com/2212651/109386804-4dbd4d00-7923-11eb-956e-b0f36be923ea.png)

## Unexpected Behaviour

If a user scans the QR code, perhaps with another device, and se

[2021-03-01 08:24] Matlemad commented on #61
we can close it!

[2021-03-01 09:57] chrishobcroft commented on #61
Thank you, @Matlemad

[2021-03-01 09:57] #61 closed